@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.index{
  min-height: 92vh;


  .container{
    position: relative;
    top: 0;
    left: 50%;
    width: 1070px;
    margin-left: -535px;
    overflow: hidden;

    .main{
      position: relative;
      flex-direction: column;
      width: 800px;
      float: left;
      overflow: hidden;
      .tabbar{
        display: flex;
        width: 200px;
        height: 30px;
        margin: 40px auto 20px;
        overflow: hidden;
        box-shadow: 0 0 4px #9C9C9C;
        border-radius: 4px;

        button{
          flex: 1;
          margin: 0;
          padding: 0;
          border: 1px solid transparent;
          outline: none;
          width: 100px;
          height: 100%;
          float: left;
          text-align: center;
          line-height: 30px;
          background-color: #fff;
          cursor: pointer;
        }

        button:first-child{
          border-radius: 4px 0 0 4px;
          background-color: #FF9A9A;
        }

        button:last-child{
          border-radius: 0 4px 4px 0;
        }

        button:active{
          background-color: #FF9A9A;
        }
      }

      .write{
        position: absolute;
        top: 25px;
        right: 100px;
        width: 50px;
        height: 50px;
        border: 1px solid #D0D0D0;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 4px #9C9C9C;
        cursor: pointer;

        img{
          width: 60%;
          height: 60%;
          margin: 20%;
        }
      }

      .write:hover{
        background-color: #FFDEDE;
      }

      .new-dymamics,
      .hot-dymamics{
        width: 90%;
        padding: 10px;
        margin-bottom: 30px;

          .dymamicList{
            background-color: #fff;
            border-radius: 3px;
            margin-bottom: 30px;
            padding: 0 15px;
            box-shadow: 0 0 4px #9C9C9C;
            overflow: hidden;

            .user-info{
              float: left;
              width: 100%;
              height: 70px;
              overflow: hidden;

              .header{
                width: 59px;
                height: 59px;
                margin: 10px;
                border-radius: 50%;
                border: 1px solid #D3D3D3;
                float: left;
                cursor: pointer;
              }
              .name-time{
                width: 300px;
                height: 60px;
                margin: 10px;
                float: left;
                cursor: pointer;

                .userName{
                  height: 35px;
                  font-size: 18px;
                  line-height: 35px;
                }

                .publishTime{
                  height: 25px;
                  font-size: 12px;
                  line-height: 25px;
                }
              }

              .attent{
                padding: 0;
                border: 0;
                background-color: #FF8E8E;
                border-radius: 3px;
                outline: none;
                width: 70px;
                height: 26px;
                font-size: 13px;
                margin: 27px;
                float: right;
                cursor: pointer;
              }
            }
            
            .mainDymamic{
              float: left;
              width: 100%;
              margin: 8px 0 0 0;

              .title{
                font-size: 18px;
                line-height: 35px;
                margin: 0 10px;
              }

              .message{
                font-size: 17px;
                line-height: 28px;
                margin-bottom: 8px;
                margin: 0 10px;
              }

              .images{
                width: 100%;
                overflow: hidden;
                cursor: pointer;

                img{
                  width: 210px;
                  height: 210px;
                  margin: 10px;
                  float: left;
                }
              }
            }

            .operate{
              float: right;
              width: 300px;
              height: 30px;
              overflow: hidden;
              padding: 5px;
              line-height: 30px;

              div{
                margin-left: 25px;
                float: left;
                overflow: hidden;
                @include flex-center();
                cursor: pointer;

                img{
                  width: 30px;
                  height: 30px;
                }
                span{
                  margin-left: 4px;
                  width: 40px;
                  height: 30px;
                  font-size: 18px;
                  line-height: 30px;
                }
              }
            }

            .comments{
              float: left;
              width: 100%;
              margin: 0 auto;
              overflow: hidden;

              .comment{
                font-size: 16px;
                line-height: 25px;
                margin: 0 10px;

                .userName{
                  color: #19528F;
                  cursor: pointer;
                }
              }

              #coInput{
                display: block;
                width: 95%;
                font-size: 14px;
                line-height: 20px;
                border-radius: 3px;
                margin: 5px auto;
                padding: 4px 8px;
              }

              .toComment{
                padding: 0;
                border: 0;
                outline: none;
                background-color: #FFCACA;
                height: 28px;
                width: 70px;
                margin: 5px 600px 10px;
                line-height: 30px;
                cursor: pointer;
              }
              
              .toComment:hover{
                background-color: #FFAFAF;
              }

              .toComment:active{
                background-color: #FF8686;
              }
            }
          }

          .dymamicList:last-child{
            margin-bottom: 0;
          }
        }
      }

      .hot-dymamics{
        display: none;
      }

    nav{
      // left: 1030px;
      padding: 10px;
      width: 240px;
      height: 500px;
      float: right;
      border-radius: 3px;
      margin-top: 88px;
      // background-color: #BCF5FF;

      .Me{
        @include flex-center(column);
        width: 240px;
        height: 180px;
        background-color: #fff;
        box-shadow: 0 0 4px #BABABA;
        border-radius: 3px;
        margin-bottom: 40px;


        .myInfo{
          @include flex-center(column);
          flex: 2;
          width: 100%;
          background-image: url("~@/assets/img/bg.jpg");
          background-size: 100% 100%;
          border-bottom: 1px solid #D7D7D7;

          .myHeader{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #929292;

            img{
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }

          .myUserName{
            margin: 5px;
          }

          .mySignature{
            font-size: 12px;
          }
        }

        .items{
          width: 100%;
          @include flex-center();
          flex: 1;

          dl{
            display: 1;
            width: 33.33%;
            height: 100%;
            @include flex-center(column);
          }
        }
      }

      .aboutMe{
        position: absolute;
        width: 240px;
        height: 253px;
        background-color: #fff;
        list-style: none;
        box-shadow: 0 0 4px #BABABA;
        border-radius: 3px;

        .title{
          height: 45px;
          line-height: 45px;
          font-size: 18px;
          text-align: center;
          background-color: #FFE9E9;
        }

        .aboutMe-li{
          height: 40px;
          line-height: 40px;
          border-bottom: 1px solid #EDEDED;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
          transition: background-color 1s;
          @include flex-center();

          .icon{
            width: 25px;
            height: 25px;
            margin: 10px;
          }

          .theme{
            margin: 30px;
          }

          .messages{
            position: absolute;
            top: -220px;
            right: 270px;
            width: 300px;
            background-color: #fff;
            box-shadow: 0 0 5px #FF9797;
            border-radius: 5px;
            z-index: 100000;
            overflow: hidden;
            background-color: #fff;
            z-index: 999999999;
          }
        }

        .aboutMe-li:last-child{
          border-bottom: 0;
        }

        .aboutMe-li:hover{
          background-color: #BFFFF8;
        }
      }
    }
  }
  .ask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 10000;
  }
}